* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

h2,h3,p {
    padding-top: 10px;
}

div.perfil {
    background-color: gray;
    text-align: center;
    margin-top: auto;
    border: 1px outset black;
    padding: auto;
}

div.resumo {
    background-color: whitesmoke;
    text-align: center;
    text-align: center;
}


img {
    width: 130px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

#img-logo {
    width: 55px;
    height: 15px;
}

#img-logo-Cert {
    width: 55px;
    height: 35px;
}

h2{
    color: blue
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

h3{
    color: black;
}

#LINKEDIN {
    background-color: white;
}